<header>
  <img
    src="#"
    alt="Wilson Jr - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />

  <h1>Wilson Jr</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJS | NestJS</p>
    <p>Brasilia-DF, Brasil</p>
    <p>
      Concluir o curso de ciências da computação dezembro de 2023 e venho
      buscando minha primeira oportunidade.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/profile.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Download Cv
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/cientistajr/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5561xxxxxxxxx&text=Ol%C3%A1%20Wilson,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (61) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:juniorwilson90@hotmail.com" target="_blank">
            <strong>Envie e-mail para:</strong>
            <p>juniorwilson90&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
